@model BankSystem.Models.AccountViewModels.AccountCreationVM

@{
    Layout = "~/Views/Shared/_AllGreenLayout.cshtml";
}

<div class="app-body">
    <div class="loader-container text-center">
        <div class="icon">
            <div class="sk-folding-cube">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>
        </div>
        <div class="title">Logging in...</div>
    </div>
    <div class="app-block">
        <div class="app-right-section">
            <div class="app-brand"><span class="highlight">Banking</span> System</div>
            <div class="app-info">

                <ul class="list">
                    <li>
                        <div class="icon">
                            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                        </div>
                        <div class="title">Fast <b>Transfer</b></div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="fa fa-cubes" aria-hidden="true"></i>
                        </div>
                        <div class="title">Lot of <b>Features</b></div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="fa fa-usd" aria-hidden="true"></i>
                        </div>
                        <div class="title">Forever <b>Free</b></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="app-form">
            <div class="form-suggestion">
                Add New Account Form.
            </div>
            @using (Html.BeginForm("AccountCreation", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="input-group  disabled">
                    <span class="input-group-addon" id="basic-addon1">
                        <i class="fa fa-barcode" aria-hidden="true"></i>
                    </span>
                    @Html.HiddenFor(m => m.AccountNumber)
                    @Html.TextBoxFor(m => m.AccountNumber, new { @class = "form-control", placeholder = "Account Number", aria_describedby = "basic-addon1", disabled = "disabled" })
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                    @Html.TextBoxFor(m => m.AccountName, new { @class = "form-control", placeholder = "Account Name", aria_describedby = "basic-addon2" })
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon3">
                        <i class="fa fa-key" aria-hidden="true"></i>
                    </span>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", aria_describedby = "basic-addon3" })
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon4">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password", aria_describedby = "basic-addon4" })
                </div>
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="text-center">
                    <button type="submit" class="btn btn-success btn-submit"><i class="fa fa-plus" aria-hidden="true"></i> Create</button>
                </div>
            }
            <div class="form-line">
                <div class="title">OR</div>
            </div>
            <div class="form-footer">
                <a href="@Url.Action("Index", "Account")" class="btn btn-default btn-sm btn-social __facebook">
                    <div class="info">
                        <span class="title">
                            <i class="fa fa-hand-o-left" aria-hidden="true"></i>
                            Go Back
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}




