@model BankSystem.Models.AccountViewModels.AccountLoginVM
@{
    ViewData["Title"] = "AccountLogin";
    Layout = "~/Views/Shared/_AllGreenLayout.cshtml";
}

<div class="app-body">
    <div class="loader-container text-center">
        <div class="icon">
            <div class="sk-folding-cube">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>
        </div>
        <div class="title">Logging in...</div>
    </div>
    <div class="app-block">
        <div class="app-form">
            <div class="form-header">
                <div class="app-brand"><span class="highlight">Banking</span> System</div>
            </div>
            @using (Html.BeginForm("Login", "Account", new { page = 1 }, FormMethod.Post, null, htmlAttributes: new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(a => a.AccountId)
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">
                        <i class="fa fa-key" aria-hidden="true"></i>
                    </span>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", aria_describedby = "basic-addon2" })
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="text-center">

                    <button type="submit" class="btn btn-success btn-submit"><i class="fa fa-sign-in" aria-hidden="true"></i> Login </button>
                </div>

            }

            <div class="form-line">
                <div class="title">OR</div>
            </div>
            <div class="form-footer">
                <a href="@Url.Action("Index", "Account")" class="btn btn-default btn-sm btn-social __facebook">
                    <div class="info">
                        <span class="title">
                            <i class="fa fa-hand-o-left" aria-hidden="true"></i>
                            Go Back
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}


