@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <title>Banking System</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <environment names="Development">
        <link rel="stylesheet" type="text/css" href="~/css/template/vendor.css">
        <link rel="stylesheet" type="text/css" href="~/css/template/flat-admin.css">

        <!-- Theme -->
        <link rel="stylesheet" type="text/css" href="~/css/template/theme/blue-sky.css">
        <link rel="stylesheet" type="text/css" href="~/css/template/theme/blue.css">
        <link rel="stylesheet" type="text/css" href="~/css/template/theme/red.css">
        <link rel="stylesheet" type="text/css" href="~/css/template/theme/yellow.css">

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

        <link rel="stylesheet" href="~/css/template/vendor.css">
        <link rel="stylesheet" href="~/css/template/flat-admin.css">

        <!-- Theme -->
        <link rel="stylesheet" href="~/css/template/theme/blue-sky.css">
        <link rel="stylesheet" href="~/css/template/theme/blue.css">
        <link rel="stylesheet" href="~/css/template/theme/red.css">
        <link rel="stylesheet" href="~/css/template/theme/yellow.css">

        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>

        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>

    </environment>
   @Html.Raw(JavaScriptSnippet.FullScript)

</head>
<body>
    <div class="app app-default">

        @RenderSection("SideBar", false)

        <script type="text/ng-template" id="sidebar-dropdown.tpl.html">
            <div class="dropdown-background">
                <div class="bg"></div>
            </div>
            <div class="dropdown-container">
                {{list}}
            </div>
        </script>
        <div class="app-container">

            <nav class="navbar navbar-default" id="navbar">
                <div class="container-fluid">
                    <div class="navbar-collapse collapse in">
                        <ul class="nav navbar-nav navbar-mobile">
                            <li>
                                <button type="button" class="sidebar-toggle">
                                    <i class="fa fa-bars"></i>
                                </button>
                            </li>
                            <li class="logo">
                                <a class="navbar-brand" href="#"><span class="highlight"></span> Admin</a>
                            </li>
                            <li>
                                <button type="button" class="navbar-toggle">
                                    <img class="profile-img" src="/images/defaultImage.png">
                                </button>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-left">
                            <li class="navbar-title">
                                <a href="@Url.Action("Index", "Account")">
                                        <i class="fa fa-arrow-left" aria-hidden="true"></i> Go Back Account List
                                </a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown profile">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img class="profile-img" src="/images/defaultImage.png">
                                    <div class="title">Profile</div>
                                </a>
                                <div class="dropdown-menu">
                                    <div class="profile-info">
                                        <h4 class="username">@User.Identity.Name</h4>
                                    </div>
                                    <ul class="action">
                                        <li>
                                            <a href="@Url.Action("Logout", "User")">
                                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                                Logout
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            @RenderBody()
            @*<footer class="app-footer">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="footer-copyright">
                            Copyright © 2016 Company Co,Ltd.
                        </div>
                    </div>
                </div>
            </footer>*@
        </div>

    </div>

    <environment names="Development">

        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/template/vendor.js"></script>
        <script src="~/js/template/app.js"></script>
    </environment>

    <environment names="Staging,Production">

        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/template/vendor.js"></script>
        <script src="~/js/template/app.js"></script>
    </environment>
    <div class="autocomplete-suggestions" style="position: absolute; display: none; max-height: 300px; z-index: 9999;"></div>

    @RenderSection("Scripts", false)
</body>
</html>
